@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

html , body{
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    text-transform: uppercase;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: #1c1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

h1{
    margin-block: 40px;
}

#randomWords{
    display: grid;
    grid-template: repeat(6, 50px) / repeat(6, 50px);
}

h5{
    border: 3px solid #1c1a1a;
    text-align: center;
    padding-top: 15px;
    background-color: rgb(86, 53, 53);
    transition: all ease 0.3s;
    cursor: pointer;
}


#randomword{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 150px;

}

#re{
    font-size: 40px;
}

i{
    cursor: pointer;
}
